.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    font-size: 22px;
  }
  &__sectionQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--list {
      border-radius: 20px;
      box-shadow: 0px 0px 11px 15px #bb13fe7a;
      max-width: 400px;
      padding: 20px;
      width: 70%;
      margin: auto auto 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 325px) {
        width: 250px;
        min-height: 250px;
      }
      @media (min-width: 768px) {
        width: 550px;
        height: 310px;
      }
      &__question {
        text-align: center;
        margin: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--number {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 16px;
          min-height: 16px;
          padding: 0 2px 2px;
          font-size: 18px;
          margin-right: 5px;
          border: 1px solid #bc13fe;
          border-radius: 25%;
        }
      }
      &__form {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: center;
        }
        &--labels {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          padding-left: 15px;
          &__inputs {
            margin: 5px;
            @media (min-width: 768px) {
              grid-column: 1 / 2;
            }
          }
          &__option {
            text-align: start;
            margin-left: 5px;
          }
        }
      }
      &__containerButton {
        margin: 15px;
        display: flex;
        justify-content: center;
        &--button {
          padding: 3px;
          border-radius: 5px;
          color: black;

          &:hover {
            box-shadow: 0px 0px 15px 10px #bb13fe7a;
            width: 80px;
          }
          @media (min-width: 768px) {
            padding: 6px;
            font-size: 20px;
            &:hover {
              box-shadow: 0px 0px 15px 10px #bb13fe7a;
              width: 105px;
            }
          }
        }
      }
    }
    &--viewQuestion {
      text-align: center;
      &__list {
        margin: 30px 10px;
        font-size: 14px;
        @media (min-width: 768px) {
          font-size: 16px;
        }
        &--item {
          margin: auto;
          width: 90%;
          border-bottom: #be2af8cc 1px dotted;
          padding-bottom: 15px;
          &__question {
            margin: 15px;
          }
          &__answer {
            margin-top: 15px;
            &--iconSection {
              margin: 5px;
              display: flex;
              justify-content: center;
              &__correct {
                color: green;
                font-size: 18px;
              }
              &__error {
                color: red;
                font-size: 18px;
              }
              &__answerClick {
                margin-left: 20px;
              }
            }
            &--correctAnswer {
              text-transform: uppercase;
              text-decoration: none;
              margin: 15px 5px 5px;
              &__span {
                text-decoration: line-through;
                color: rgba(175, 173, 173, 0.918);
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
  &__error {
    margin: 30px 10px;
    text-align: center;

    &--title {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
  &__sectionAnswers {
    text-align: center;
    &--resumen {
      &__title {
        margin: 50px auto;
        color: white;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 20px;
        text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
          0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, 0 0 1.3rem #bc13fe;
        @media (min-width: 768px) {
          font-size: 25px;
        }
      }
      &__list {
      }
      &__buttonReset {
        margin: 30px auto;
        padding: 3px;
        border-radius: 5px;
        color: black;

        &:hover {
          box-shadow: 0px 0px 15px 10px #bb13fe7a;
          width: 80px;
        }
        @media (min-width: 768px) {
          padding: 6px;
          font-size: 20px;
          &:hover {
            width: 105px;
          }
        }
      }
    }
  }
}
.hidden {
  display: none;
}
