.list {
  //height: 100vh;
  border: red solid 1px;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  margin: 10px auto;
  &__li {
    margin: 10px auto;
    border: 1px blue dotted;
    &--form {
      margin: 10px auto;
      border: greenyellow 1px solid;
      &__labels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        &--labelFirst {
          grid-column: 1 / 2;
          grid-row: 1/2;
        }
        &--labelSecond {
          grid-column: 1 / 2;
          grid-row: 2/2;
        }
        &--laberlThird {
          grid-column: 2 / 3;
          grid-row: 1/2;
        }
        &--labelFourth {
          grid-column: 2 / 3;
          grid-row: 2/2;
        }
      }
    }
  }
}
