.body {
  background-color: rgb(53, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.hidden {
  display: none;
}
