.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eeec;
  .modal__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__content {
      padding: 1rem;
      border-radius: 0.5rem;
      border: solid 3px white;
      box-shadow: 0 0 6px 12px rgba(255, 255, 255, 0.4);
      background-image: url("../images/blackboard.jpg");
      background-size: cover;
      background-position: center center;
      width: 50%;
      @media all and (max-width: 1200px) {
        width: 80%;
      }
      .modal__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        .modal__title {
          font-size: 30px;
          @media all and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }
        .modal__close {
          padding: 6px 9px 6px 9px;
          border-radius: 50%;
          font-size: 20px;
          border: solid 3px white;
        }
        .modal__close:hover {
          box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.247);
        }
      }
      .modal__contents_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal__button {
          padding: 5px;
          background-color: #ffffff24;
          border-radius: 10px;
          border: solid 3px;
          margin-top: 10px;
          &:hover {
            background-color: #ffffff49;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.hidden {
  display: none;
}
